$bg-white: #ffffff;
$bg-green: #62d1ba;
$bg-gray: #f1f1f1;

$text-black: #000000;
$text-dark: #444444;
$text-white: #ffffff;
$text-green: #63d1bb;

$border-gray: #ececec;
$ph-bg: #f9f9f9;

$font-stack: "Open Sans", "Arial", sans-serif;

$tablet-widths: (min-width: 768px);
$desktop-widths: (min-width: 1150px);
