$bg-white: #ffffff;
$bg-green: #62d1ba;
$bg-gray: #f1f1f1;

$text-black: #000000;
$text-dark: #444444;
$text-white: #ffffff;
$text-green: #63d1bb;

$border-gray: #ececec;

$font-stack: "Open Sans", "Arial", sans-serif;
$arial: "Arial", "Helvetica", sans-serif;
