.about {
  padding-top: 13px;
  background: $bg-white url("../img/bg-zigzag-line.svg") 0 0 repeat-x;
  background-size: 300px 6px;
}

.about__inner {
  @include container;
}

.about__title {
  margin-bottom: 34px;
}

.about__item {
  position: relative;
  width: 250px;
  margin-bottom: 31px;
  padding-top: 50px;
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  color: $text-black;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: $text-green;
  }
}

@media #{$tablet-widths} {
  .about {
    padding-top: 32px;
    background-size: 750px 15px;
  }

  .about__title {
    margin-bottom: 51px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 57px;
    padding-top: 50px;
    padding-right: 35px;
    padding-left: 5px;
    font-size: 20px;
    line-height: 24px;

    svg {
      left: 5px;
    }
  }

  .about__item--feature1 {
    order: 1;
  }

  .about__item--feature2 {
    order: 3;
  }

  .about__item--feature3 {
    order: 5;
  }

  .about__item--feature4 {
    order: 2;
  }

  .about__item--feature5 {
    order: 4;
  }

  .about__item--feature6 {
    order: 6;
  }
}

@media #{$desktop-widths} {
  .about {
    padding-top: 40px;
    background-size: 1150px 23px;
  }

  .about__inner {
    width: 700px;
  }

  .about__item {
    padding-right: 50px;
  }
}
