.catalog {
  padding-top: 30px;
}

.catalog__inner {
  @include container;
}

@media #{$tablet-widths} {
  .catalog {
    padding-top: 74px;
  }
}

@media #{$desktop-widths} {
  .catalog {
    padding-top: 125px;
    padding-bottom: 57px;
  }
  .catalog__list {
    display: flex;
    justify-content: space-between;
  }
}
