.contacts {
  padding-top: 25px;
  padding-bottom: 40px;
  text-align: center;
  background: $bg-white url("../img/zigzag-mobile.png") 0 0 repeat-x;
}

.contacts__inner {
  @include container;
}

.contacts__title {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.contacts__map {
  margin-bottom: 31px;
  text-align: center;

  img {
    width: 320px;
    height: 460px;
  }
}

@media #{$tablet-widths} {
  .contacts {
    padding-top: 40px;
    padding-bottom: 56px;
    background: $bg-white url("../img/zigzag-tablet.png") 0 0 repeat-x;
  }

  .contacts__title {
    position: relative;
    margin-bottom: 45px;
    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      right: 0;
      width: 47px;
      height: 81px;
      background:transparent url("../img/icon-flag.svg") 0 0 no-repeat;
    }
  }

  .contacts__map {
    margin-bottom: 45px;
  }

  .contacts__write {
    width: auto;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media #{$desktop-widths} {
  .contacts {
    position: relative;
    padding-top: 120px;
    padding-bottom: 104px;
    text-align: left;
    background: $bg-white url("../img/zigzag-desktop.png") 0 0 repeat-x;
  }

  .contacts__inner {
    box-sizing: border-box;
    padding-left: 175px;
  }

  .contacts__title {
    margin-bottom: 47px;
    font-size: 53px;
    line-height: 57px;

    &::before {
      top: -9px;
      left: -110px;
    }
  }

  .contacts__map {
    position: absolute;
    bottom: 55px;
    right: 50px;
  }

  .contacts__write {
    text-align: left;
  }
}
