.contacts {
  padding-top: 25px;
  padding-bottom: 40px;
  text-align: center;
  background: $bg-white url("../img/bg-zigzag-line.svg") 0 0 repeat-x;
  background-size: 300px 6px;
}

.contacts__inner {
  @include container;
}

.contacts__title {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.contacts__map {
  display: block;
  width: 100%;
  height: 460px;
  margin: 0 auto 37px;

    .contacts__map-img {
      display: none;
    }
}

.contacts__map--nojs {
  .contacts__map-img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media #{$tablet-widths} {
  .contacts {
    padding-top: 40px;
    padding-bottom: 56px;
    background-size: 750px 15px;
  }

  .contacts__title {
    position: relative;
    margin-bottom: 45px;
    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      right: 0;
      width: 47px;
      height: 81px;
      background:transparent url("../img/icon-flag.svg") 0 0 no-repeat;
    }
  }

  .contacts__map {
    margin-bottom: 53px;
  }

  .contacts__write {
    display: inline-block;
    vertical-align: top;
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media #{$desktop-widths} {
  .contacts {
    position: relative;
    padding-top: 120px;
    padding-bottom: 104px;
    text-align: left;
    background-size: 1150px 23px;
  }

  .contacts__inner {
  }

  .contacts__title {
    width: 330px;
    margin-bottom: 47px;
    padding-left: 171px;
    font-size: 53px;
    line-height: 57px;

    &::before {
      top: -8px;
      left: 62px;
    }
  }

  .contacts__map {
    position: absolute;
    top: 94px;
    right: 46px;
    width: 525px;
    margin: 0;
  }

  .contacts__write {
    margin-left: 224px;
  }
}
