.contacts-table {
  width: 100%;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: $text-dark;

  td {
    padding: 0;
    padding-bottom: 28px;
    text-align: left;
    vertical-align: top;
  }

  a {
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: $text-dark;
    border-bottom: 1px solid $bg-green;

    &:hover {
      color: $bg-green
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.contacts-table__name {
  width: 73px;
}

@media #{$tablet-widths} {
  .contacts-table {
    margin-bottom: 24px;

    tbody {
      display: flex;
      justify-content: flex-start;
    }

    tr {
      box-sizing: border-box;
      width: 50%;
    }

    td {
      font-size: 17px;
      text-align: left;
    }

    a {
      font-size: 17px;
    }
  }
}

@media #{$desktop-widths} {
  .contacts-table {
    width: 330px;
    margin-bottom: 50px;
    margin-left: 171px;

    tbody {
      display: table-row-group;
    }
  }

  .contacts-table__name {
    width: 76px;
  }
}
