
.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 30px;
  z-index: 2;
  width: 20px;
  height: 14px;
  padding: 0;
  font-size: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: $text-black;
  box-shadow: 0 6px 0 0 $text-black, 0 12px 0 0 $text-black;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgba($text-black, 0.6);
  box-shadow: 0 6px 0 0 rgba($text-black, 0.6), 0 12px 0 0 rgba($text-black, 0.6);
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba($text-black, 0.3);
  box-shadow: 0 6px 0 0 rgba($text-black, 0.3), 0 12px 0 0 rgba($text-black, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 29px;
  height: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0px;
    width: 20px;
    height: 2px;
    background-color: $text-black;
    box-shadow: none;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: rgba($text-black, 0.6);
  }

  &:active::before,
  &:active::after {
    background-color: rgba($text-black, 0.3);
  }
}

.main-nav__item {
  background-color: $bg-white;
  border-bottom: 1px solid $border-gray;

  a {
    display: block;
    margin: 0 auto;
    padding: 27px 0;
    color: $text-black;
  }

  a[href] {
    &:hover {
      color: rgba($text-black, 0.6);
    }

    &:active {
      color: rgba($text-black, 0.3);
    }
  }
}

.main-nav__item--logo {
  border-top: 1px solid $border-gray;

  a {
    padding: 21px 0;
  }

  a[href] {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3
    }
  }

  img {
    vertical-align: top;
    width: 86px;
    height: 35px;
  }
}

.main-nav__item--search a,
.main-nav__item--card a {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    width: 21px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(0, -50%);
  }
}

.main-nav__item--search a {
  &::before {
    background-image: url("../img/icon-search.svg");
  }
}

.main-nav__item--card a {
  &::before {
    background-image: url("../img/icon-cart.svg");
  }
}

.main-nav__item--hidden,
.main-nav__item--deliver {
  display: none;
}

@media #{$mobile-widths-only} {
  .main-nav--closed {
    .main-nav__item {
      display: none;
    }

    .main-nav__item--logo {
      display: block;
    }
  }

  .main-nav--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__item {
      display: block;
    }

    .main-nav__item--hidden,
    .main-nav__item--deliver {
      display: none;
    }
  }
}

@media #{$tablet-widths} {
  .main-nav__toggle {
      display: none;
    }

  .main-nav__list {
    @include container;
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__item {
    display: block;
    background-color: transparent;
    border: 0;

    a {
      padding: 32px 0;
    }
  }

  .main-nav__item--logo {
    flex-grow: 1;
    border-top: 0;
    padding-right: 190px;

    a {
      padding: 21px 0;
      text-align: left;
    }

    img {
      width: 112px;
      height: 46px;
    }
  }

  .main-nav__item:nth-child(2),
  .main-nav__item:nth-child(3),
  .main-nav__item--hidden {
    margin-right: 38px;

    a {
      margin-top: 18px;
      padding: 0;
      font-size: 15px;
    }
  }

  .main-nav__item:nth-child(2) {
    order: 1;
  }

  .main-nav__item:nth-child(3) {
    order: 2;
  }

  .main-nav__item--search {
    width: 84px;
    border-left: 1px solid $border-gray;
    border-right: 1px solid $border-gray;

    a {
      font-size: 0;
    }
  }

  .main-nav__item--card {
    box-sizing: border-box;
    width: 260px;

    a {
      text-align: right;
    }
  }

  .main-nav__item--hidden {
    display: none;
  }

  .main-nav__item--deliver {
    order: 999;
    flex-grow: 1;
    margin-top: 18px;
    text-align: right;
  }
}

@media #{$desktop-widths} {
  .main-nav__item--logo {
    position: absolute;
    top: 5px;
    left: 50%;
    padding: 0;
    transform: translate(-50%);

    a {
      padding: 0;
    }

    img {
      width: 149px;
      height: 72px;
    }
  }

  .main-nav__item:nth-child(2),
  .main-nav__item:nth-child(3) {
    a {
      margin: 0;
      padding: 32px 0;
      font-size: 17px;
    }
  }

  .main-nav__item:nth-child(2) {
    order: -2;
    padding-right: 35px;
    border-right: 1px solid $border-gray;
  }

  .main-nav__item:nth-child(3) {
    order: -1;
    flex-grow: 1;
    margin-right: 270px;

    a {
      text-align: left;
    }
  }

  .main-nav__item--hidden {
    display: block;
    margin-right: 62px;
  }
}
