.order {
  padding-top: 10px;
  padding-bottom: 55px;
}

.order__inner {
  @include container;
}

.order__text {
  margin-bottom: 32px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: $text-dark;
}

@media #{$tablet-widths} {
  .order {
    padding-top: 55px;
    padding-bottom: 40px;
  }

  .order__text {
    margin-bottom: 29px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media #{$desktop-widths} {
  .order {
    padding-top: 107px;
    padding-bottom: 38px;
  }

  .order__text {
    margin-bottom: 29px;
    padding-left: 175px;
    padding-right: 150px;
    font-size: 17px;
    line-height: 30px;
  }
}
