.order-form {
  fieldset {
    position: relative;
    padding: 0;
    padding-top: 42px;
    padding-bottom: 15px;
    margin: 0;
    border: 0;
    border-top: 1px solid $bg-green;
  }

  legend {
    position: absolute;
    top: -9px;
    left: 0;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    color: $text-green;
    background-color: $bg-white;
    text-transform: uppercase;
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }

  label {
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    color: $text-black;
  }
}

.order-form__wrapper {
  @include container;
}

.order-form__radio-item,
.order-form__checkbox-item {
  label {
    position: relative;
    display: block;
    padding-left: 60px;
  }
}

.order-form__radio-item {
  margin-bottom: 30px;

  label {
    &::before {
      content: "";
      position: absolute;
      top: -12px;
      left: 0;
      display: block;
      width: 35px;
      height: 35px;
      border: 2px solid $text-dark;
      border-radius: 50%;
    }
  }

  label:hover {
    &::before {
      border: 2px solid $bg-green;
    }
  }

  label:active {
    &::before {
      border: 2px solid rgba($text-dark, 0.3);
    }
  }
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: $bg-green;
  border-radius: 50%;
}

.order-form__checkbox-item {
  margin-bottom: 43px;

  label {
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      display: block;
      width: 35px;
      height: 35px;
      border: 2px solid $text-dark;
    }
  }

  label:hover {
    &::before {
      border: 2px solid $bg-green;
    }
  }

  label:active {
    &::before {
      border: 2px solid rgba($text-dark, 0.3);
    }
  }
}

input[type="checkbox"]:checked + label::before {
  background:transparent url("../img/icon-tick.svg") center no-repeat;
  background-size: 70%;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 14px 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: rgba($text-dark, 0.3);
  border: 0;
  border-bottom: 2px solid $text-black;
  outline: 0;

  &:hover {
    border-bottom: 2px solid $bg-green;
  }

  &:focus {
    color: $text-dark;
    border-bottom: 2px solid $bg-green;
  }
}

.order-form__phone input,
.order-form__email input{
  box-sizing: border-box;
  padding-right: 35px;
  background-position: right center;
  background-repeat: no-repeat;
}

.order-form__phone input{
  background-image: url("../../img/icon-phone.svg");
}

.order-form__email input{
  background-image: url("../../img/icon-mail.svg");
}

textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: rgba($text-dark, 0.3);
  border: 2px solid $text-black;
  outline: 0;
  resize: none;

  &:hover {
    border: 2px solid $bg-green;
  }

  &:focus {
    color: $text-dark;
    border: 2px solid $bg-green;
  }
}

.order-form__required {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $text-dark;
}

.order-form__submit {
  width: 100%;
}

@media #{$tablet-widths} {
  .order-form {
    @include clearfix;

    fieldset {
      padding-left: 167px;
      border: 0;
    }

    legend {
      top: 40px;
      background-color: transparent;
    }

    label {
      font-size: 19px;
    }
  }

  .order-form__bg {
    background-color: $bg-gray;
  }

  .order-form__checkbox-list {
    display: flex;
    flex-wrap: wrap;
  }
  .order-form__checkbox-item {
    box-sizing: border-box;
    width: 50%;
  }

  .order-form__name {

    .order-form__group {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    input[type="text"] {
      flex-grow: 1;
      margin-bottom: 0;
      margin-left: 20px;
      padding-left: 20px;
    }
  }

  .order-form__phone input,
  .order-form__email input {
    background-color: $bg-gray;
  }

  .order-form__required {
    float: right;
    margin-top: 50px;
    font-size: 17px;
  }

  .order-form__submit {
    float: left;
    width: auto;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media #{$desktop-widths} {
  .order-form {

    fieldset {
      padding-left: 175px;
    }

    .order-form__addition {
      padding-right: 175px;
    }

    legend {
      left: 60px;
    }
  }

  .order-form__checkbox-item {
    width: 33.3%;
  }

  .order-form__name,
  .order-form__phone,
  .order-form__email {

    .order-form__group {
      margin-right: 175px;
    }
  }

  .order-form__required {
    margin-right: 175px;
  }

  .order-form__submit {
    margin-left: 175px;
  }
}
