.order {
  padding-top: 10px;
  padding-bottom: 55px;
}

.order__inner {
  @include container;
}

.order__text {
  margin-bottom: 32px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: $text-dark;
}

@media #{$tablet-widths} {
  .order {
    padding-top: 60px;
  }

  .order__text {
    font-size: 17px;
    line-height: 30px;
  }
}

@media #{$desktop-widths} {
  .order {
    padding-top: 100px;
  }
}
