
.page-header {
  text-align: center;
  background: $ph-bg url("../img/hero-mobile@1x.jpg") no-repeat;
  background-position: center top 60px;
}

.page-header--internal {
  background-color: $bg-gray;
  background-image: none;

  .page-header__title {
    margin-bottom: 75px;
  }
}

.page-header__title {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  margin-top: 70px;
  margin-bottom: 122px;
  color: #010000;
}

.page-header__btn {
  position: relative;
  display: block;
  padding: 26px 30px 29px;
  font-size: 19px;
  line-height: 24px;
  text-transform: none;
  text-align: left;
  color: $text-white;
  border: 0;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 26px;
    display: block;
    width: 60px;
    height: 60px;
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat;
    transform: translate(0, -50%);
  }
}

.page-header__btn--furniture {
  background-color: $text-green;

  &::after {
    background-image: url("../img/icon-interior.svg");
  }
}

.page-header__btn--toys {
  background-color: #56c3b2;

  &::after {
    background-image: url("../img/icon-toy.svg");
  }
}

@media #{$tablet-widths} {
  .page-header {

  }

  .page-header--internal {
    background: $bg-gray url("../img/wave-tablet.png") bottom left repeat-x;
  }

  .page-header__title {
    width: 500px;
    margin-bottom: 370px;
    font-size: 47px;
    line-height: 50px;
  }

  .page-header__btn-wrapper {
    position: relative;
    @include container
    font-size: 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 10px;
      background: transparent url("../img/wave-tablet.png") left top repeat-x;
    }
  }

  .page-header__btn {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 20px;
    line-height: 30px;
  }
}

@media #{$desktop-widths} {
  .page-header--internal {
    background: $bg-gray url("../img/wave-desktop.png") bottom left repeat-x;
  }

  .page-header__title {
    font-size: 53px;
    line-height: 57px;
  }

  .page-header__btn-wrapper {
    &::after {
      height: 15px;
      background: transparent url("../img/wave-desktop.png") left top repeat-x;
    }
  }
}
