.page-footer {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: $bg-gray;
  text-align: center;
}

.page-footer__inner {
  @include container;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  display: inline-block;
  vertical-align: middle;
  padding-top: 21px;
  font-size: 20px;
  font-weight: 700;
  color: $text-black;
  text-align: center;

  svg {
    vertical-align: middle;
    width: 27px;
    height: 34px;
    margin-left: 18px;
    fill: $text-green;
  }

  &:hover {
      svg {
        fill: $icon-hover;
      }
  }

  &:active {
    opacity: 0.3;
  }
}

@media #{$tablet-widths} {
  .page-footer {
    padding-top: 49px;
    padding-bottom: 50px;
  }

  .page-footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    margin-right: 86px;

    svg {
      width: 102px;
      height: 34px;
      fill: #231f20;
    }

    &:hover {
      svg {
        fill: $icon-hover;
      }
    }

    &:active {
      fill-opacity: 0.3;
    }
  }

  .page-footer__copyright {
    padding-top: 8px;
  }
}
