.process-video {
  position: relative;
}
.process-video__control {
  @include zero-centered;
  display: block;
  width: 102px;
  height: 78px;
  background:transparent url("../img/icon-play.svg") center no-repeat;
  transition: 0.3s;
}

.process-video:hover,
.process-video:focus {
  cursor: pointer;

  .process-video__control {
    transform: scale(1.2);
  }
}

.process-video:active {
  .process-video__control {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

@media #{$tablet-widths} {

  .process-video {
    height: 456px;

    video {
      width: 100%;
      height: 100%;
    }
  }
}

@media #{$desktop-widths} {

  .process-video {
    float: left;
    width: 680px;
  }
}
