.process {
  padding-bottom: 59px;
}

.process__inner {
  @include container;
  padding-top: 8px;
  padding-bottom: 30px;
  border-top: 1px solid $border-gray;
  border-bottom: 1px solid $border-gray;
}

.process__title {
  position: relative;
  padding-left: 91px;
  padding-bottom: 9px;
  font-size: 17px;
  line-height: 24px;
  color: $text-black;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 33px;
    display: block;
    width: 32px;
    height: 22px;
    background:transparent url("../img/icon-video.svg") center no-repeat;
  }
}

.process__text {
  margin-top: 22px;
  margin-bottom: 25px;
  padding: 0 34px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: $text-dark;
}

.process__order {
  margin: 0 34px;
}
