.process {
  padding-top: 2px;
  padding-bottom: 59px;
}

.process__inner {
  position: relative;
  @include container;
}

.process__text-wrapper {
  position: relative;
  padding-top: 23px;
  padding-bottom: 32px;
  border: 1px solid $border-gray;

  &:hover {
    cursor: pointer;
    box-shadow: 0 6px 10px rgba($text-black, 0.1);

    .process__title,
    .process__text {
      opacity: 0.6;
    }

    .process__order {
      color: $text-white;
      background-color: $text-dark;
    }

    .process__icon {
      fill: $icon-hover;
      fill-opacity: 1;
    }
  }

  &:active {
    box-shadow: 0 3px 5px rgba($text-black, 0.1);

    .process__title,
    .process__text {
      opacity: 0.3;
    }

    .process__order {
      color: rgba($text-white, 0.3);
    }

    .process__icon {
      fill-opacity: 0.3;
    }
  }
}

.process__title {
  margin-top: 0;
  margin-bottom: 201px;
  padding-left: 91px;
  font-size: 17px;
  line-height: 24px;
  color: $text-black;
}

.process__icon {
    position: absolute;
    top: 28px;
    left: 33px;
    width: 32px;
    height: 32px;
    fill: #221f1f;
    fill-opacity: 0.2;
}

.process__text {
  margin: 0 34px 25px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: $text-dark;
}

.process__order {
  margin: 0 34px;
}

@media #{$tablet-widths} {
  .process {
    padding-top: 0;
    padding-bottom: 64px;
  }

  .process__inner {
    padding-top: 456px;
  }

  .process__text-wrapper {
    padding-top: 0;
    padding-bottom: 45px;
  }

  .process__title {
    margin-top: 36px;
    margin-bottom: 32px;
    padding-left: 105px;
    font-size: 20px;
  }

.process__icon {
    top: 31px;
    left: 40px;
}

  .process__text {
    margin: 0 40px 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .process__order {
    margin: 0 42px;
  }
}

@media #{$desktop-widths} {
  .process {
    padding-bottom: 105px;
  }

  .process__inner {
    @include clearfix;
    padding-top: 0;
  }

  .process__text-wrapper {
    box-sizing: border-box;
    float: right;
    width: 367px;
    padding: 0 56px 60px 79px;
    border-left: 0;
  }

  .process__title {
    margin-bottom: 33px;
    padding-top: 59px;
    padding-left: 0;
  }

.process__icon {
    top: 40px;
    left: 79px;
}

  .process__text {
    margin: 0 0 46px;
  }

    .process__order {
      margin: 0;
  }
}
