.process {
  padding-top: 2px;
  padding-bottom: 59px;
}

.process__inner {
  position: relative;
  @include container;
}

.process__text-wrapper {
  padding-top: 23px;
  padding-bottom: 32px;
  border: 1px solid $border-gray;

  &:hover {
    cursor: pointer;
    box-shadow: 0 6px 10px rgba($text-black, 0.1);

    .process__order {
      color: $text-white;
      background-color: $text-dark;
    }
  }

  &:active {
    box-shadow: 0 3px 5px rgba($text-black, 0.1);

    .process__order {
      color: rgba($text-white, 0.3);
    }
  }
}

.process__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 201px;
  padding-left: 91px;

  font-size: 17px;
  line-height: 24px;
  color: $text-black;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 33px;
    display: block;
    width: 32px;
    height: 22px;
    background:transparent url("../img/icon-video.svg") center no-repeat;
  }
}

.process__text {
  margin: 0 34px 25px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: $text-dark;
}

.process__order {
  margin: 0 34px;
}

@media #{$tablet-widths} {
  .process {
    padding-top: 0;
    padding-bottom: 64px;
  }

  .process__inner {
    padding-top: 456px;
  }

  .process__text-wrapper {
    padding-top: 0;
    padding-bottom: 45px;
  }

  .process__title {
    margin-top: 36px;
    margin-bottom: 32px;
    padding-left: 105px;
    font-size: 20px;

    &::before {
      top: 0;
      left: 43px;
    }
  }

  .process__text {
    margin: 0 40px;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .process__order {
    margin: 0 42px;
  }
}

@media #{$desktop-widths} {
  .process {
    padding-bottom: 105px;
  }

  .process__inner {
    @include clearfix;
    padding-top: 0;
  }

  .process__text-wrapper {
    float: right;
    box-sizing: border-box;
    width: 367px;
    padding-left: 79px;
    padding-right: 56px;
    padding-bottom: 60px;
    border-left: 0;
  }

  .process__title {
    margin-bottom: 33px;
    padding-top: 59px;
    padding-left: 0;

    &::before {
      top: 9px;
      left: 0;
    }
  }

  .process__text {
    margin: 0;
    margin-bottom: 46px;
  }

    .process__order {
      margin: 0;
  }
}
