.product-of-week {
  padding-top: 5px;
  padding-bottom: 35px;
}

.product-of-week__inner {
  @include container;
}

.product-of-week__title {
  margin-bottom: 8px;
}

.product-of-week__subtitle {
  margin-top: 0;
  margin-bottom: 25px;
  color: $text-green;
  text-transform: uppercase;
}

.product-of-week__text {
  margin-bottom: 15px;
}

.product-of-week__table {
  width: 100%;
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: $text-dark;

  td {
    padding: 9px 0;
    border-bottom: 1px solid $border-gray;
  }
}

.product-of-week__attribute {
  width: 92px;
}

.product-of-week__image {
  margin-bottom: 19px;
  width: 260px;
  height: 315px;
}

.product-of-week__price {
  display: block;
  margin-bottom: 27px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $text-dark;
  text-align: center;
}

@media #{$tablet-widths} {
  .product-of-week {
    padding-top: 41px;
    padding-bottom: 50px;
  }

  .product-of-week__inner {
    position: relative;
  }
  .product-of-week__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
  }
  .product-of-week__title {
    flex-grow: 1;
    margin: 0;
  }

  .product-of-week__subtitle {
    width: 80px;
    margin: 5px 20px 0 0;
    text-align: center;
  }

  .product-of-week__text {
    margin-bottom: 34px;
    font-size: 17px;
    line-height: 30px;
  }

  .product-of-week__image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 333px;
    height: 404px;
    margin: 0;
}

  .product-of-week__text,
  .product-of-week__table,
  .product-of-week__price,
  .product-of-week__btn {
    width: 288px;
  }

  .product-of-week__table {
    margin-bottom: 53px;
  }

  .product-of-week__price {
    width: 295px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media #{$desktop-widths} {
  .product-of-week {
    padding-top: 49px;
    padding-bottom: 70px;
  }

  .product-of-week__title-wrapper {
    margin-top: 70px;
  }

  .product-of-week__title {
    order: 1;
  }

  .product-of-week__subtitle {
    margin: 8px 45px 0;
  }

  .product-of-week__text {
    margin-bottom: 46px;
  }
  .product-of-week__image {
    z-index: -1;
    width: 525px;
    height: 636px;
  }

  .product-of-week__text,
  .product-of-week__table,
  .product-of-week__price,
  .product-of-week__btn {
    margin-left: 175px;
  }

  .product-of-week__table {
    margin-bottom: 107px;
  }

  .product-of-week__price {
    width: 300px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
  }
}
