.reviews {
  padding-top: 2px;
  padding-bottom: 25px;
}

.reviews__inner {
  @include container;
  font-size: 0;
}

.reviews__title {
  margin-bottom: 25px;
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: $text-dark;

  p {
    margin-bottom: 23px;
  }
}

.reviews__auhor-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: $text-black;

  i {
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    color: $text-dark;
  }
}

.reviews__btn {
  box-sizing: border-box;
  padding: 0;
  width: 50%;
  height: 52px;
  font-size: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $border-gray;
  outline: 0;
  cursor: pointer;
}

.reviews__btn--prev {
  border-right: 0;
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__btn--next {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__write {
  margin-top: 38px;
  margin-bottom: 20px;
}

@media #{$tablet-widths} {

  .reviews {
    padding-top: 50px;
    padding-bottom: 120px;
    background: url("../img/review@1x.jpg") 0 0 no-repeat;
  }

  .reviews__inner {
    position: relative;
  }

  .reviews__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__item {
    margin-bottom: 0;
    font-size: 17px;

    p {
      margin-bottom: 60px;
    }
  }

  .reviews__auhor-name {
    font-size: 17px;
    line-height: 30px;

    i {
      display: block;
    }
  }

  .reviews__btn-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .reviews__btn {
    width: 84px;
    border: 0;
  }

  .reviews__write {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media #{$desktop-widths} {

  .reviews__inner {
    box-sizing: border-box;
    padding-left: 175px;
  }

  .reviews__title {
    margin-bottom: 50px;
    font-size: 53px;
    line-height: 57px;
  }
}
