.reviews {
  padding-top: 2px;
  padding-bottom: 25px;
}

.reviews__inner {
  @include container;
  font-size: 0;
}

.reviews__title {
  margin-bottom: 25px;
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: $text-dark;

  p {
    margin-bottom: 23px;
  }
}

.reviews__auhor-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: $text-black;

  i {
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    color: $text-dark;
  }
}

.reviews__btn {
  box-sizing: border-box;
  padding: 0;
  width: 50%;
  height: 52px;
  font-size: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $border-gray;
  outline: 0;
  cursor: pointer;
}

.reviews__btn--prev {
  border-right: 0;
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__btn--next {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__write {
  margin-top: 38px;
  margin-bottom: 20px;
}
