.reviews {
  padding-top: 2px;
  padding-bottom: 25px;
}

.reviews__inner {
  @include container;
  font-size: 0;
}

.reviews__title {
  margin-bottom: 25px;
}

.reviews__item {
  margin: 0 0 30px;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: $text-dark;

  p {
    margin-bottom: 23px;
  }
}

.reviews__auhor-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: $text-black;

  i {
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    color: $text-dark;
  }
}

.reviews__btn {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: 1px solid $border-gray;
  outline: 0;
  cursor: pointer;
}

.reviews__btn-arrow {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 4px;
  background-color: $text-black;
  transform: translate(-50%, -50%);

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 4px;
    background-color: $text-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.reviews__btn--prev {
  border-right: 0;

  .reviews__btn-arrow::before {
    left: -3px;
    top: 5px;
  }

  .reviews__btn-arrow::after {
    left: -3px;
    bottom: 5px;
  }
}

.reviews__btn--next {
    .reviews__btn-arrow::before {
    right: -3px;
    bottom: 5px;
  }

  .reviews__btn-arrow::after {
    right: -3px;
    top: 5px;
  }
}

.reviews__btn:hover .reviews__btn-arrow {
  opacity: 0.6
}

.reviews__btn:active .reviews__btn-arrow {
  opacity: 0.3
}

.reviews__write {
  margin-top: 26px;
  margin-bottom: 20px;
}

@media #{$tablet-widths} {
  .reviews {
    padding-top: 65px;
    padding-bottom: 115px;
    background: url("../img/review@1x.jpg") 0 22px no-repeat;

    @media #{$retina} {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__inner {
    position: relative;
  }

  .reviews__title {
    margin-bottom: 50px;
  }

  .reviews__item {
    margin-bottom: 0;
    font-size: 17px;

    p {
      margin-bottom: 55px;
    }
  }

  .reviews__auhor-name {
    font-size: 17px;
    line-height: 30px;

    i {
      display: block;
    }
  }

  .reviews__btn-wrapper {
    position: absolute;
    bottom: -7px;
    right: 0;
    width: 168px;
  }

  .reviews__btn {
    border: 0;
  }

  .reviews__write {
    position: absolute;
    top: 3px;
    right: 0;
    margin: 0;
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media #{$desktop-widths} {
    .reviews {
    padding-top: 58px;
    padding-bottom: 162px;
    background-position: 50px 30px;
  }

  .reviews__inner {
    box-sizing: border-box;
    padding-left: 175px;
  }

  .reviews__title {
    margin-bottom: 48px;
  }

  .reviews__item {
    padding-right: 100px;

    p {
      margin-bottom: 36px;
    }
  }

  .reviews__btn-wrapper {
    bottom: -9px;
    right: 3px;
  }

  .reviews__write {
    top: 8px;
  }
}
