
.social-links {
  padding-bottom: 27px;
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

}

.social-link {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;

  svg {
    vertical-align: middle;
    fill: #221f1f;
  }

  &:hover {
    svg {
      fill: $icon-hover;
    }
  }

  &:active {
    fill-opacity: 0.3;
  }
}

.social-link--in {
  svg {
    width: 22px;
    height: 21px;
  }
}

.social-link--fb {
  margin: 0 40px;

  svg {
    width: 15px;
    height: 28px;
  }
}

.social-link--tw {
  svg {
    width: 24px;
    height: 20px;
  }
}


@media #{$tablet-widths} {
  .social-links {
    padding: 0;
    border: 0;
    padding-top: 5px;
  }
}
